*.db

# 테스트 결과 파일 제외
*.trx
TestResults/
coverage/

ActorServer/.vscode/
ActorServer/bin/
ActorServer/obj/

ActorClient/.vscode/
ActorClient/bin/
ActorClient/obj/

ActorServer.Tests/.vscode/
ActorServer.Tests/bin/
ActorServer.Tests/obj/
